
<div class="row">
    <div class="col-md-12">
        <div>
            <h2  class="TituloPedidos">Novo Pedido</h2>
        </div>
        <hr />
    </div>
    <div class="col-md-12">
        <div>
            <label class="LabelEscolhaComplementos">Escolha seus Complementos</label>
            <div class="form-group col-md-12 TituloComplementos" id="divItensComplementos">

            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div>
        
            <div class="BotaoVoltarProximo">
                <input class="btn btn-danger btn-md" type="button" value="Voltar" onclick="IrParaLanches()"/>
                <input class="btn btn-success btn-md" type="button" value="Finalizar Pedido" id="btnFinalizarPedido" onclick="FinalizarPedido()"/>
            </div>
        </div>
    </div>
</div>
